[submodule "Second_year/Practicas-IS"]
	path = Second_year/Practicas-IS
	url = git@github.com:Pablorg99/Practicas-IS.git
[submodule "Second_year/SIN/GEMS"]
	path = Second_year/SIN/GEMS
	url = git@github.com:AlexTheMagnus/GEMS.git
[submodule "Third_year/Redes-Practicas"]
	path = Third_year/Redes-Practicas
	url = git@github.com:janthonyo/Redes-Practicas.git
[submodule "Third_year/IW/N2W_Front"]
	path = Third_year/IW/N2W_Front
	url = git@github.com:Need2Watch/N2W_Front.git
[submodule "Third_year/IW/N2W_Back"]
	path = Third_year/IW/N2W_Back
	url = git@github.com:Need2Watch/N2W_Back.git
[submodule "Third_year/PW/React-Project-PW"]
	path = Third_year/PW/React-Project-PW
	url = git@github.com:RexusWolf/React-Project-PW.git
